div.gantt{font-family:tahoma, arial, verdana, Sans-serif;font-size:11px;color:#656565;}
.gantt table{border-collapse:collapse;}
.gantt td{padding:0px;}
.headweekends div{font-size:8px;width:100% !important;margin:0;}
.gmajorheading,
.gminorheading,
.gminorheadingwkend,
.gtaskcell,
.gtaskcellcurrent,
.gtaskcellwkend{height:19px;font-size:12px;border:#efefef 1px solid;text-align:center;cursor:default}
.gtasklist{height:19px;min-width:2px;max-width:2px;width:2px;border:#efefef 1px solid;border-right:none;}
.gtasknolist-label{padding:10px 50px;}
.gtaskheading,
.gmajorheading,
.gminorheading{background-color:#ffffff;font-weight:bold;font-size:11px;white-space:nowrap;}
.gtaskcellwkend,
.gtaskcellcurrent,
.gminorheadingwkend{background-color:#f7f7f7;font-weight:bold;font-size:11px;white-space:nowrap;}
.gtaskcellcurrent{background-color:#e1e0f7;}
td.gtaskcell{text-align:left;}
td.gspanning{border-left:none;border-right:none;}
.gtaskcelldiv{position:relative;}
.gtaskheading,
.gname,
.gtaskname,
.gres,
.gdur,
.gcomp,
.gstartdate,
.gplanstartdate,
.gplanenddate,
.gcost,
.genddate{height:18px;white-space:nowrap;border:#efefef 1px solid;}
.gtaskheading div,
.gname div,
.gtaskname div,
.gres div,
.gdur div,
.gcomp div,
.gstartdate div,
.gplanstartdate div,
.gplanenddate div,
.gcost div,
.genddate div{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.gtaskbarcontainer.gplan{position:absolute !important;top:0px;opacity:0.3;background:white;z-index:10000;border:1px solid black;}
.gstartdate div,
.gplanstartdate,
.gplanenddate,
.gstartdate,
.genddate{text-align:center;min-width:80px;width:80px;max-width:80px;font-size:11px;}
.gtaskheading{text-align:center;}
.gtaskname div,
.gtaskname{min-width:170px;max-width:350px;width:350px;font-size:11px;border-left:none;}
.gtaskheading,
.gtaskname{text-overflow:ellipsis;overflow:scroll;}
.gtaskname.gtaskeditable div,
.gtaskname.gtaskeditable{overflow:scroll;}
.gselector{text-align:left;white-space:nowrap;min-width:80px;max-width:80px;width:80px;}
.gformlabel{position:relative;top:0px;cursor:pointer;border:#ffffff 1px solid;margin-left:2px;padding-left:2px;padding-right:2px;}
span.gformlabel:hover,
span.gselected{background-color:#dbecff;border:#cccccc 1px solid;}
span.gfoldercollapse{color:#000000;cursor:pointer;font-weight:bold;font-size:12px;font-family:Courier, "Courier New", monospace;}
.gtasktableh,
.gtasktable{border-right:#efefef 1px solid;width:100%;}
.gcharttableh,
.gtasktableh,
.gtasktable,
.gcharttable{border-collapse:collapse;}
.gcharttable,
.gcharttableh{table-layout:fixed;}
.gcharttable{border:#efefef 1px solid;}
.ggroupitem{background-color:#c8d9ec;font-weight:bold;color:black;}
.gmileitem,
.glineitem{background-color:#ffffff;}
.gitemhighlight td{background-image:none;background-color:#f8f8f5;}
.gmilecaption,
.ggroupcaption,
.gcaption{font-weight:normal;font-size:9px;text-align:left;white-space:nowrap;top:1px;position:absolute;top:2px;}
.ggroupcaption,
.gcaption{right:-126px;}
.gtaskcomplete{float:left;overflow:hidden;}
.gtaskcomplete{height:5px;background-color:#000000;margin-top:4px;opacity:0.4;filter:alpha(opacity=40);}
.gmilestone{font-size:14px;position:absolute;top:-2px;}
.gmdtop{top:2px;overflow:hidden;width:0px;height:0px;border-bottom:5px solid black;border-left:5px solid transparent;border-top:5px solid transparent;border-right:5px solid transparent;}
.gmdbottom{top:2px;overflow:hidden;width:0px;height:0px;border-top:5px solid black;border-left:5px solid transparent;border-bottom:5px solid transparent;border-right:5px solid transparent;}
.ggroupblack,
.gtaskblue,
.gtaskred,
.gtaskgreen,
.gtaskyellow,
.gtaskpurple,
.gtaskpink{height:10px;opacity:0.9;margin-top:1px;}
.ggroupblack{height:7px;background:#8d8c8c;margin-top:2px;}
.ggroupblackendpointleft{overflow:hidden;width:0px;height:0px;top:2px;border-top:0px solid #8d8c8c;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;float:left;}
.ggroupblackendpointright{overflow:hidden;width:0px;height:0px;top:2px;border-top:0px solid #8d8c8c;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;float:right;}
.ggroupblackcomplete{float:left;overflow:hidden;height:3px;filter:alpha(opacity=80);opacity:0.8;background-color:#1a1919;margin-top:2px;margin-bottom:2px;}
.gtaskblue{background:rgb(31, 139, 255);}
.gtaskred{background:rgb(220, 53, 69);}
.gtaskgreen{background:rgb(40, 167, 69);}
.gtaskyellow{background:rgb(255, 193, 7);}
.gtaskpurple{background:rgb(255, 98, 7);}
.gtaskpink{background:rgb(23, 162, 184);}
.gtaskbluecomplete,
.gtaskredcomplete,
.gtaskgreencomplete,
.gtaskyellowcomplete,
.gtaskpurplecomplete,
.gtaskpinkcomplete{float:left;overflow:hidden;height:2px;filter:alpha(opacity=0.1);opacity:0.1;background-color:#f5e6e6;margin-top:2px;}
.glinev{border-left:1px solid;width:0px;}
.glineh{border-top:1px solid;height:0px;}
.gDepFS,
.gDepSS,
.gDepSF,
.gDepFF{border-color:#ff0000;}
.gDepFSArw,
.gDepSSArw{overflow:hidden;width:0px;height:0px;border-bottom:4px solid transparent;border-left:4px solid #ff0000;border-top:4px solid transparent;border-right:4px solid transparent;}
.gDepFFArw,
.gDepSFArw{overflow:hidden;width:0px;height:0px;border-bottom:4px solid transparent;border-left:4px solid transparent;border-top:4px solid transparent;border-right:4px solid #ff0000;}
.gCurDate{border-color:#0000ff;}
div.gtaskbarcontainer{z-index:1;position:absolute;top:0px}
.textbar{word-break:break-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:20%;display:inline-block;}
.JSGanttToolTip{position:absolute;display:block;z-index:10000;}
.JSGanttToolTipcont{font-family:tahoma, arial, verdana;font-size:10px;display:block;background:#ffffff;color:#656565}
.gTaskInfo{background:#00070f;width:350px;border:#656565 1px solid;border-radius:10px;padding:2px 2px 2px 2px;float:left;color:white;}
.gTtTitle{display:block;font-size:12px;font-weight:bold;color:white;margin-left:4px;margin-bottom:1em;}
.gTaskLabel{font-size:11px;font-weight:bold;color:white;margin-left:4px;}
.gTaskText{position:absolute;left:90px;padding-top:1px;font-size:11px;font-weight:normal;color:white;}
.gTaskNotes{font-size:11px;font-weight:normal;color:white;padding:0 15px;display:block;}
.gTIn{padding-top:10px;}
.gantt{min-width:632px;}
.gchartcontainer{line-height:1;display:flex;}
.gcontainercol{position:relative;}
.glistgrid{min-width:132px;float:left;padding-right:0px;padding-left:0px;padding-bottom:0px;padding-top:0px;background-color:#ffffff;overflow:hidden;}
.glistlbl{min-width:132px;float:left;padding-right:0px;padding-left:0px;padding-bottom:0px;padding-top:0px;background-color:#ffffff;overflow:hidden;flex:none;}
.glistlbl,
.gchartgrid{display:flex;flex-direction:column;}
.glabelfooter{clear:both;}
.ggridfooter{clear:both;}
.rhscrpad{width:150px;position:absolute;top:0px;height:1px;}
.gchartgrid{padding-right:0px;padding-left:0px;padding-bottom:0px;padding-top:0px;background-color:#ffffff;position:relative;overflow:unset;overflow-y:auto;min-height:0%;}
.gchartlbl{padding-right:0px;padding-left:0px;padding-bottom:0px;padding-top:0px;background-color:#ffffff;position:relative;overflow:hidden;flex:none;}
.gantt{_height:100%}
div .gantt{}
div.gchartlbl,
div.gchartgrid{}
div.glistlbl,
div.glistgrid{*right:0px;_right:532px;_margin-left:-532px;float:left;}
div.gchartgrid{*padding-bottom:20px;*overflow-y:hidden;}
td.gmajorheading div{*overflow:hidden;}
td.gspanning div{*overflow:auto;}
.ggroupblackendpointleft{_border-top:4px solid black;_border-left:4px solid pink;_border-bottom:4px solid pink;_border-right:4px solid pink;_filter:chroma(color=pink);}
.ggroupblackendpointright{_border-top:4px solid black;_border-left:4px solid pink;_border-bottom:4px solid pink;_border-right:4px solid pink;_filter:chroma(color=pink);}
.gmdtop{_border-left:5px solid pink;_border-top:5px solid pink;_border-right:5px solid pink;_filter:chroma(color=pink);}
.gmdbottom{_border-left:5px solid pink;_border-bottom:5px solid pink;_border-right:5px solid pink;_filter:chroma(color=pink);}
.gDepFSArw,
.gDepSSArw{_border-bottom:4px solid pink;_border-top:4px solid pink;_border-right:4px solid pink;_filter:chroma(color=pink);}
.gDepFFArw,
.gDepSFArw{_border-bottom:4px solid pink;_border-left:4px solid pink;_border-top:4px solid pink;_filter:chroma(color=pink);}
.glinediv{position:absolute;top:0px;left:0px;z-index:1px;}
.gantt-inputtable{max-width:100%;max-height:16px;}
.gadditional{border:#efefef 1px solid;}
.gadditional,
.gres,
.gdur,
.gcomp,
.gcost{text-align:center;width:70px;max-width:70px;min-width:70px;font-size:11px;}
@media print{html,
.gchartgrid{overflow:unset !important;}
.glistgrid{float:none !important;}
.gchartcontainer *::-webkit-scrollbar{display:none;}
.gchartcontainer *{-ms-overflow-style:none;scrollbar-width:none;}
.JSGanttToolTip{display:none !important;}
}
.gmain{height:100%;display:flex;flex-direction:column;resize:horizontal;}
.gmainright{overflow:hidden;flex:1 1 auto;}
.gmainleft{overflow:hidden;flex:0 0 60%;flex:1 0 auto;}
.gtasktableh tr,
.gcharttable tr,
.gcharttableh tr,
.gtasktable tr{height:22px !important;}
.gtasktableouterwrapper{overflow:hidden;}
.gtasktablewrapper{overflow-y:scroll;flex:auto;height:100%;}
.chartgrid{overflow:auto;flex:auto;}
@media print{.ggroupblack{height:0px;border-top:7px solid;border-color:#000000;}
.gtaskblue{height:0px;border-top:13px solid;border-color:rgb(58, 132, 195);}
.gtaskred{height:0px;border-top:13px solid;border-color:rgb(196, 58, 58);}
.gtaskgreen{height:0px;border-top:13px solid;border-color:rgb(80, 193, 58);}
.gtaskyellow{height:0px;border-top:13px solid;border-color:rgb(255, 193, 7);}
.gtaskpurple{height:0px;border-top:13px solid;border-color:rgb(193, 58, 193);}
.gtaskpink{height:0px;border-top:13px solid;border-color:rgb(249, 177, 245);}
.gtaskbluecomplete,
.gtaskredcomplete,
.gtaskgreencomplete,
.gtaskyellowcomplete,
.gtaskpurplecomplete,
.gtaskpinkcomplete{height:0px;filter:alpha(opacity=40);opacity:0.4;margin-top:-9px;border-top:5px solid;border-color:#000000;}
.ggroupblackcomplete{height:0px;filter:alpha(opacity=80);opacity:0.8;margin-top:-5px;border-top:3px solid;border-color:#777777;}
.gmainright,
.gmainleft{overflow:hidden;width:auto;}
table{page-break-after:auto}
tr{page-break-inside:avoid;page-break-after:auto}
td{page-break-inside:avoid;page-break-after:auto}
thead{display:table-header-group}
tfoot{display:table-footer-group}
}
.frame::-webkit-scrollbar{-webkit-appearance:none;}
.frame::-webkit-scrollbar:vertical{width:11px;}
.frame::-webkit-scrollbar:horizontal{height:11px;}
.frame::-webkit-scrollbar-thumb{border-radius:8px;border:2px solid white;background-color:rgba(69, 8, 212, 0.5);}
.frame::-webkit-scrollbar-track{background-color:#fff;border-radius:8px;}
.gscrollbar-calculation-container{visibility:hidden;overflow:scroll;-ms-overflow-style:scrollbar;display:block;}